<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : sppauth.module.xml
    Created on : 11 October 2009, 17:28
    Author     : Satya Prakash Shukla
    Description:
        Descriptor for sppauth module.
-->

<module>
    <name>sppdb</name>
    <version>0.5</version>
    <pubname>SPP Database</pubname>
    <modgroup>SPP_Optional</modgroup>
    <pubdesc>Handles database in SPP.</pubdesc>
    <includes>
        <include>class.sppdb.php</include>
        <include>class.sppsequence.php</include>
    </includes>
    <deps>
        <depends>sppdb</depends>
        <depends>sppconfig</depends>
    </deps>
</module>