<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>sppaudit</name>
    <pubname>SPP Audit Logger</pubname>
    <author>Antigravity Enterprise Evolution</author>
    <version>1.1.0</version>
    <description>Enterprise-grade auditing for entity state changes.</description>
    <namespace>SPPMod\SPPAudit</namespace>
    <autoload>
        <class name="SPPAudit" file="class.sppaudit.php"/>
    </autoload>
</module>
