<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>sppapi</name>
    <author>SPP Framework Builder</author>
    <version>1.0</version>
    <description>Zero-Code API engine automatically interpreting YAML configurations into physical RESTful data endpoints natively.</description>
    <namespace>SPPMod\SPPAPI</namespace>
    <autoload>
        <class name="SPPAPI" file="class.sppapi.php"/>
    </autoload>
</module>
