<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : sppxdb.module.xml
    Created on : 11 October 2009, 17:28
    Author     : Satya Prakash Shukla
    Description:
        Descriptor for sppxdb module.
-->

<module>
    <name>sppxdb</name>
    <version>0.5</version>
    <pubname>SPP XDB</pubname>
    <modgroup>SPP_Optional</modgroup>
    <pubdesc>Handles XML Database in SPP.</pubdesc>
    <includes>
        <include>sppxdb.php</include>
    </includes>
    <deps>
        <depends>sppdb</depends>
        <depends>sppconfig</depends>
    </deps>
</module>