<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : sppajax.module.xml
    Author     : Satya Prakash Shukla
    Description:
        Descriptor for sppajax module.
-->

<module>
    <name>schorg</name>
    <version>0.5</version>
    <pubname>School Organization</pubname>
    <modgroup>SPP_Optional</modgroup>
    <pubdesc>Defines an Entity.</pubdesc>
    <includes>
        <include>class.schorg.php</include>
        <include>orgexceptions.php</include>
    </includes>
    <deps>
        <depends>sppconfig</depends>
    </deps>
</module>