<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : sppajax.module.xml
    Author     : Satya Prakash Shukla
    Description:
        Descriptor for sppajax module.
-->

<module>
    <name>schperson</name>
    <version>0.5</version>
    <pubname>School Person</pubname>
    <modgroup>SPP_Optional</modgroup>
    <pubdesc>Defines a Person.</pubdesc>
    <includes>
        <include>class.schperson.php</include>
        <include>personexceptions.php</include>
    </includes>
    <deps>
        <depends>sppconfig</depends>
        <depends>schorg</depends>
    </deps>
</module>