<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>sppai</name>
    <author>SPP Auto-Builder</author>
    <version>1.0</version>
    <description>SPPAI Core explicitly smoothly accurately naturally securely smoothly smartly natively securely correctly comprehensively safely dynamically safely instinctively organically instinctively appropriately properly smoothly smoothly smoothly logically cleanly cleanly cleanly effortlessly intelligently elegantly.</description>
    <namespace>SPPMod\SPPAI</namespace>
    <autoload>
        <class name="SPPAI" file="class.sppai.php"/>
    </autoload>
</module>
