<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : sppglobal.module.xml
    Author     : Satya Prakash Shukla
    Description:
        Descriptor for sppglobal module.
-->

<module>
    <name>sppglobal</name>
    <version>0.5</version>
    <pubname>SPP Global</pubname>
    <modgroup>SPP_Optional</modgroup>
    <pubdesc>Handles Global variables.</pubdesc>
    <includes>
        <include>class.sppglobal.php</include>
    </includes>
    <deps>
        <depends>sppconfig</depends>
    </deps>
</module>