<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : sppauth.module.xml
    Created on : 11 October 2009, 17:28
    Author     : Satya Prakash Shukla
    Description:
        Descriptor for sppauth module.
-->

<module>
    <name>sppvalidator</name>
    <version>0.5</version>
    <pubname>SPP Validtor</pubname>
    <modgroup>SPP_Optional</modgroup>
    <pubdesc>Handles HTML Validators in SPP.</pubdesc>
    <includes>
        <include>class.sppvalidator.php</include>
        <include>class.sppsinglevalidator.php</include>
        <include>class.sppmultiplevalidator.php</include>
        <include>classes.sppvalidators.php</include>
    </includes>
    <deps>
        <depends>spphtml</depends>
    </deps>
</module>